@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    
}

.loaderContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    width: 150px;

}
.loaderImg {
    width: 35px;
    height: 35px;
    object-fit: cover;
    object-position: center;
    animation: rotate 3s infinite ease-in-out;
}


.loaderText {
    color: #0073E6;
    font-size: 20px;
    font-weight: 700;
}