.cartButton {
    width: 117px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background-color: transparent;
    border: none;
    padding: 0;
}

.cartButton:hover {
    cursor: pointer;
}

.img {
    width: 17px;
    height: 17px;
}

.text {
    color: rgb(23, 32, 41);
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0px;
    margin: 0;
}
