.container {
    display: flex;
    width: 100%;
    min-height: 48px;
    justify-content: space-between;
    align-items: center;
    background-color: #F2F6FA;
    border-bottom: solid 1px #E6F1FC;
    position: sticky;
    top: 0;
    z-index: 2;
}

.logo {
    height: 24px;
    margin-left: 32px;
}

.navContainer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 15px;
}

.navLink {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
}

.navLink:hover {
    color: rgb(0, 115, 230);
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 10px;
    transition: all .3s ease;
}

.navLinkInactive {
    color: rgb(23, 32, 41);
}

.navLinkActive {
    color: rgb(0, 115, 230);
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 10px;
}

.cartContainer {
    margin-right: 32px;
}


@media screen and (max-width: 585px) {
    .container {
        flex-direction: column;
        gap: 20px;
    }

    .logo {
        margin-top: 20px;
        margin-left: 0;
    }

    .cartContainer {
        margin-right: 0;
    }

}